
#cabeceraweb: hover{
	-moz-transform: rotate (5deg);
	-webkit-transform: rotate(5deg);
}
#cabeceraweb{
	
	outline: 2px dashed #000099;
	outline-offset: 1px;
	text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	color: hsla(1, 120%, 50%, 0.5);
	width: 500px;
	font-size: 20px;
	text-align: center;
	margin-left: -200px;
	padding: 30px 150px 30px 100px;
	border: 30px solid auto;
    margin-bottom: 10px;
	display: inline-block;
    border: 3px solid #DDDCB2;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
-moz-box-shadow: #DDDCB2 5px 5px 5px 5px;
-webkit-box-shadow: #DDDCB2 5px 5px 5px 5px;
box-shadow: #DDDCB2 5px 5px 5px 5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

-webkit-transition-property: -webkit-transform ;
  -moz-transition-property: -moz-transform ;
-webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
-webkit-transition-timing-function: cubic-bezier(1.000, -0.415, 0.000, 1.650);
-moz-transition-timing-function: cubic-bezier(1.000, -0.415, 0.000, 1.650);

}

#cabeceraweb:hover, #cabeceraweb:focus{
 -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);


}

#navegadorprincipal{
	margin-top: -50px ;
	margin-bottom: 100px;
    border-style: double;
	margin-right: -40px;
    margin-left: -150px;
   border: 3px solid #DDDCB2;

	
	-webkit-box-shadow: 9px 19px 2px 5px rgba(0,0,0,0.39);
-moz-box-shadow: 9px 19px 2px 5px rgba(0,0,0,0.39);
box-shadow: 9px 19px 2px 5px rgba(0,0,0,0.39);

background: rgba(26,128,224,1);
background: -moz-linear-gradient(left, rgba(26,128,224,1) 0%, rgba(22,101,192,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,128,224,1)), color-stop(100%, rgba(22,101,192,1)));
background: -webkit-linear-gradient(left, rgba(26,128,224,1) 0%, rgba(22,101,192,1) 100%);
background: -o-linear-gradient(left, rgba(26,128,224,1) 0%, rgba(22,101,192,1) 100%);
background: -ms-linear-gradient(left, rgba(26,128,224,1) 0%, rgba(22,101,192,1) 100%);
background: linear-gradient(to right, rgba(26,128,224,1) 0%, rgba(22,101,192,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a80e0', endColorstr='#1665c0', GradientType=1 );
}
#navegadorprincipal li{
	display: inline-block;
	list-style: none;
	padding: 0px 80px 0px 80px;
    padding-bottom: -1px;
    
}



#barralateral{
	margin-top: 100px;
	margin-left: -100px;
    float: left;
    height: auto;
    border-style: double;
    border: 3px solid #DDDCB2;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
-moz-box-shadow: #DDDCB2 5px 5px 30px 5px;
-webkit-box-shadow: #DDDCB2 5px 5px 30px 5px;
box-shadow: #DDDCB2 5px 5px 30px 5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   


}
#contenido2{

background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	margin-left: 100px;
	padding-left: 15px;
	padding-top: 15px;
	margin-right: 500px;
	border: 3px solid #DDDCB2;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
-moz-box-shadow: #DDDCB2 5px 5px 30px 5px;
-webkit-box-shadow: #DDDCB2 5px 5px 30px 5px;
box-shadow: #DDDCB2 5px 5px 30px 5px;
-webkit-transform: translateY(-1825px);
-moz-transform: translateY(-1825px);
}

#contenidoprincipal{
	background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	margin-left: 100px;
	padding-left: 15px;
	padding-top: 15px;
	margin-right: 500px;
	border: 3px solid #DDDCB2;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
-moz-box-shadow: #DDDCB2 5px 5px 30px 5px;
-webkit-box-shadow: #DDDCB2 5px 5px 30px 5px;
box-shadow: #DDDCB2 5px 5px 30px 5px;
-webkit-transform: translateX(530px);
-moz-transform: translateX(530px);
}

#pieprincipal{
	margin-top: 40px;
	text-align: center;
	clear: both;

}
#pequeña{
	margin-left: -40px;
	-webkit-transition-property:  -webkit-transform ;
	-moz-transition-property:  -moz-transform;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-webkit-transition-timing-function: cubic-bezier(1.000, -0.415, 0.000, 1.650);
-moz-transition-timing-function: cubic-bezier(1.000, -0.415, 0.000, 1.650);
}

#pequeña:hover, #pequeña:focus{
  
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);

 
}

#fig1{
	margin-left: -40px;
}
body{
background: rgba(242,242,242,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 47%, rgba(224,224,224,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(242,242,242,1)), color-stop(47%, rgba(232,232,232,1)), color-stop(100%, rgba(224,224,224,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 47%, rgba(224,224,224,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 47%, rgba(224,224,224,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 47%, rgba(224,224,224,1) 100%);
background: radial-gradient(ellipse at center, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 47%, rgba(224,224,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0', GradientType=1 );
    text-align: center;
    padding: 25px;

}

#agrupar{
margin: 15px auto;
text-align: left;
font-family: Shonar Bangla;
margin-left: 100px;

}

footer{
	color: #999999;
}